.nav__menu{
    background-color: rgba(0,0,0,0.7);
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-between;
    align-items: center;
    padding: 0.8rem 1.8rem;
    z-index: 9999;
    position: fixed;
    width: calc(100vw - 3.6rem);
}

.nav__menu_options{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-between;
    align-items: center;
    color: white;
}

.nav__menu_hamburger_icon{
    display: none;
    width: 2.2rem;
}

.nav__menu_hamburger_icon_line {
    stroke: white;
    stroke-width: 8;
    stroke-linecap: round;
    transition: all 0.3s ease-in-out;
    transform-origin: center;
}

.nav__menu_hamburger_icon.hamburger_icon_to_x .menu_hamburger_icon_line_top {
    transform: translateY(15px) translateX(-13px) rotate(45deg);
}

.nav__menu_hamburger_icon.hamburger_icon_to_x .menu_hamburger_icon_line_middle {
    opacity: 0;
}

.nav__menu_hamburger_icon.hamburger_icon_to_x .menu_hamburger_icon_line_bottom {
    transform: translateY(-14px) translateX(-15px) rotate(-45deg);
}

.nav__menu_hamburger_icon:hover{
    background: rgba(64, 68, 89, .6);
    border-radius: 0.2rem;
}

.nav__menu_HBO_logo{
    max-width: 3rem;
    margin-right: 1.8rem;
    transition: 0.4s ease-in-out;
    cursor: pointer;
}

.nav__menu_HBO_logo:hover{
    filter: drop-shadow(0 0 0.6rem rgba(255,255,255, 0.6));
}

.nav__menu_options ul{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-between;
    align-items: center;
}

.nav__menu_options ul li{
    margin-left: 1.8rem;
    font-weight: bold;
    padding: 0.8rem 1rem;
    border-radius: 0.6rem;
    transition: 0.3s ease-in-out;
    cursor: pointer;
    z-index: 2;
    position: relative;
}

.nav__menu_options ul li::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(64, 68, 89, .6);
    border-radius: inherit; 
    z-index: -1;
    transition: 0.3s ease-in-out;
    opacity: 0;
    transform: scale(1.3);
}

.nav__menu_options ul li:hover::after {
    background: rgba(64, 68, 89, .8);
    opacity: 1;
    transform: scale(1);
}

.nav__menu_login{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.nav__menu_login_link a{
    color: white;
    margin-right: 1.8rem;
    font-weight: bold;
    position: relative;
    padding: 0.8rem 1rem;
    z-index: 2;
    border-radius: 0.6rem;
}

.nav__menu_login_link a::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background: rgba(64, 68, 89, .6);
    border-radius: inherit; 
    z-index: -1;
    transition: 0.3s ease-in-out;
    opacity: 0;
    transform: scale(1.3);
}

.nav__menu_login_link a:hover::after {
    background: rgba(64, 68, 89, .8);
    opacity: 1;
    width: 0%;
    transform: scale(1);
    animation: buttomFillFromLeft 0.5s linear forwards;
}

.nav__menu_subscribe_link a{
    color: black;
    font-weight: bold;
    background-color: white;
    padding: 0.8rem 1.6rem;
    border-radius: 0.9rem;
    position: relative;
    transition: 0.3s ease-in-out;
    z-index: 999;
}

.nav__menu_subscribe_link a:hover{
    background: transparent;
    color: white;
    
}

.nav__menu_subscribe_link a::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background: rgba(64, 68, 89, .6);
    border-radius: inherit; 
    z-index: -1;
    transition: 0.3s ease-in-out;
    opacity: 0;
    transform: scale(1.3);
} 

.nav__menu_subscribe_link a:hover::after {
    background: rgba(64, 68, 89, .8);
    opacity: 1;
    width: 0%;
    transform: scale(1);
    animation: buttomFillFromLeft 0.5s linear forwards;
}

@keyframes buttomFillFromLeft {
    100%{
        width: 100%;
    }
}

.nav__menu_options_mobile {
    background-color: rgba(0, 0, 0, 0.96);
    width: 100%;
    max-width: 100vw;
    border-radius: 0;
    text-align: center;
    display: block;
    position: relative;
    overflow: hidden;
    height: 0vh;
    transition: width 0.5s ease-in-out, height 0.5s ease-in-out;
    z-index: 2;
    padding-top: 5rem;
    visibility: collapse;
    transition: 0.4s ease-in-out;
}

.nav__menu_options_mobile ul li{
    font-weight: bold;
    padding: 0.8rem 1rem;
    border-radius: 0.6rem;
    transition: 0.3s ease-in-out;
    cursor: pointer;
    z-index: 2;
    position: relative;
    color: white;
    margin: 0.5rem 1rem;
}

.nav__menu_options_mobile ul li:nth-child(1){
    margin-top: 1rem;
}

.nav__menu_options_mobile ul li::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(64, 68, 89, .6);
    border-radius: inherit; 
    z-index: -1;
    transition: 0.3s ease-in-out;
    opacity: 0;
    transform: scale(1.1);
}

.nav__menu_options_mobile ul li:hover::after {
    background: rgba(64, 68, 89, .8);
    opacity: 1;
    transform: scale(1);
    font-size: 7rem;
}

.nav__menu_options_mobile ul li:hover {
    font-size: 1.1rem;
    transition: 0.1s ease-in-out;
}

/* ----------------------------------------------------- */
/* Multi-purpose css classes (mainly JavaScript DOM manipulation) */
.nav__menu_options_mobile.nav__menu_options_mobile_open {
    width: 100vw;
    height: calc(100vh - 3.8rem);
    max-height: 1200px;
    visibility: visible;
    transition: 0.6s ease-in-out;
}

.nav__menu_options_mobile::after {
    content: "";
    display: block;
    position: absolute;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    visibility: visible;
    transition: 0.6s ease-in-out;
}

.nav__menu_options_Login{
    display: none;
}

.nav__menu_options_SignUp{
    display: none;
}

@media screen and (max-width:1280px) {
    .nav__menu_options ul{
        display: none;
    }

    .nav__menu_icons_left{
        display: flex;
    }

    .nav__menu_hamburger_icon{
        display: block;
        width: 2.2rem;
    }
}

@media screen and (min-width: 769px) {
    .nav__menu_options_mobile {
        width: 100%;
        max-width: 50vw!important;
    }
}

@media screen and (max-width: 768px) {
    .nav__menu_options_mobile {
        width: 100vw;
        max-width: 100vw;
    } 
    .nav__menu_options_mobile.nav__menu_options_mobile_open {
        max-width: 100vw;
        max-height: calc(100vh - 4.1rem);
        overflow-y: auto;
    } 
}

@media screen and (max-width: 520px) {
    .nav__menu_options_Login{
        display: block;
    }
    .nav__menu_login_link{
        display: none;
    }
}

@media screen and (max-width: 375px) {
    .nav__menu_options_SignUp{
        display: block;
    }
    .nav__menu_subscribe_link{
        display: none;
    }
    .nav__menu_icons_left {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-content: center;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }
    .nav__menu_options{
        width: 100%;
    }
}